{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                },
                "useBuiltIns" : "usage",
                "corejs": 3
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-transform-classes"
    ]
}