{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["airbnb-base", "eslint-config-prettier"],
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "no-param-reassign": 0,
        "semi": ["error", "never"]
    }
}
